body {
  background-image: url("http://localhost:9901/img/bg.gif");
  background-repeat: repeat-x;
  background-size: cover;
  font-family: system-ui;
  background-color: green;
  color: white;
}

.farm_img {
  width: 100%;
}
h1 {
  /* color: blue; */
}
p {
  /* color: red; */
}
